/*Обнуление*/
*{
	margin: 0;
   box-sizing: border-box;
}
body{
   margin: 0;
   font-family: 'Gilroy';
   background-color:#0B1D26;
   background-image: url("./../images/BG.jpg");
   background-size: 100% auto;
   background-repeat: no-repeat;
   color: #FFFFFF;
}
a {
   color: #FFFFFF;
}
h1, h2, h3, h4, h5, p {
   margin: 0;
}

.no-scroll {
   overflow-y: hidden;
}

.container__wide {
   margin: 0 auto;
   max-width: 1790px;
   padding: 0 15px;
}

.container {
   max-width: 1492px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

/*---------------------------------------------*/
.header {
   padding-top: 64px;
   padding-bottom: 600px;
}

.row{
   display: flex;
}

.space-between{
   justify-content: space-between;
}

.align-center {
   align-items: center;
}

.logo {
   font-family: 'Playfair Display';
   font-size: 32px;
   line-height: 38px;
   letter-spacing: 0.01em;
   text-transform: capitalize;
   font-weight: 700;
}

.nav-wrapper {
   margin-bottom: 198px;
}

.nav{
   font-weight: 700;
   font-size: 18px;
}

.nav ul {
   display: flex;
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.nav li + li {
   margin-left: 40px;
}

.nav a {
   color: #FFFFFF;
   text-decoration: none;
   position: relative;
   padding-bottom: 5px;
}

.nav a:hover {
   color: #FBD784;
}

.nav a::after {
   position: absolute;
   left: 0;
   right: 0;
   bottom: -1px;
   content: '';
   display: block;
   width: 0;
   height: 2px;
   background-color: #FBD784;
   opacity: 0;
   transition: all .6s ease-in-out;
}

.nav a:hover::after {
   opacity: 1;
   width: 100%;
}

.account {
   position: relative;
   padding-left: 30px;
   font-size: 17px;
   line-height: 1.2;
   font-weight: 700;
   text-decoration: none;
   transition: color .2s ease-in;
   cursor: pointer;
}

.account::before {
   content: "";
   display: block;
   position: absolute;
   left: -20%;
   top: -10%;
   background-image: url('./../images/cart.svg');
   width: 24px;
   height: 24px;
}

.account:hover {
   color: #FBD784;
}

.nav-button {
   position: relative;
   z-index: 9;
   display: none;
   padding: 0;
   height: 25px;
   border: none;
   background: none;
   cursor: pointer;
}

.nav-button:focus,
.nav-button:active {
   outline: none;
}

.nav-button-icon {
   position: relative;
   display: block;
   width: 42px;
   height: 5px;
   border: none;
   background-color: #FFFFFF;
}

.nav-button-icon::before {
   content: "";
   position: absolute;
   top: -12px;
   left: 0;
   display: block;
   width: 42px;
   height: 5px;
   background-color: #FFFFFF;
}

.nav-button-icon::after{
   content: "";
   position: absolute;
   bottom: -12px;
   left: 0;
   display: block;
   width: 42px;
   height: 5px;
   background-color: #FFFFFF;
}

.nav-button-close .nav-button-icon {
   background-color: transparent;
}

.nav-button-close .nav-button-icon::before {
   transform: rotate(45deg);
   top: 0;
}

.nav-button-close .nav-button-icon::after {
   transform: rotate(-45deg);
   top: 0;
}

.mobile-nav {
   display: none;
   z-index: 8;
  /* display: flex; */
   flex-direction: column;
   justify-content: space-between;
   position: fixed;
   top: 0;
   right: 0;
   height: 100%;
   width: 320px;
   padding: 70px 70px 50px 30px;
   background-color: rgba(35, 39, 39, 0.8);
}

.mobile-nav .nav,
.mobile-nav .account {
   display: block;
}

.mobile-nav .account::before {
   left: -1%;
   top: -10%;
}

.mobile-nav .nav ul {
   flex-direction: column;
}

.mobile-nav .nav ul li {
   margin: 0;
   margin-bottom: 25px;
}
/*---------------------------------------------*/
.header-title {
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 980px;
   padding-left: 15px;
   padding-right: 15px;
   text-decoration: none;
   transition: transform .8s cubic-bezier(0.710, 0.445, 0.460, 1.345);
   text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.header-title:hover {
   transform: translateY(-5%);
}

.header-title__category {
   margin-bottom: 32px;
   position: relative;
   padding-left: 104px;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.222;
   color: #FBD784;
   letter-spacing: 6px;
   text-transform: uppercase;
}

.header-title__category::before {
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   display: block;
   content: "";
   height: 2px;
   width: 72px;
   background: #FBD784;
}
 
.header-tilte__text {
   text-align: center;
   margin-bottom: 32px;
   font-family: 'Playfair Display';
   font-weight: 500;
   font-size: 88px;
   line-height: 1.136;
   color: #FFFFFF;
   text-transform: capitalize;
   font-style: normal;
}

.header-scroll {
   display: inline-block;
   position: relative;
   padding-right: 32px;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.222;
   color: #FFFFFF;
}

.header-scroll::after {
   content: "";
   width: 16px;
   height: 24px;
   display: block;
   position: absolute;
   top: 50%;
   right: 0;
   transform: translateY(-50%);
   background-image: url('./../images/arrow_downward_24px.svg');
}
/*---------------------------------------------*/
.article {
   display: flex;
   justify-content: space-between;
   column-gap: 30px;
   align-items: center;
   margin-bottom: 200px;
}

.article:nth-child(even) {
   flex-direction: row-reverse;
}

.article-text {
   padding-left: 150px;
   margin-right: 20px;
}

.article__subtitle {
   margin-bottom: 32px;
   position: relative;
   padding-left: 96px;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.222;
   color: #FBD784;
   letter-spacing: 6px;
   text-transform: uppercase;
}

.article__subtitle::before {
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   display: block;
   content: "";
   height: 2px;
   width: 72px;
   background: #FBD784;
}

.article__title {
   max-width: 555px;
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 500;
   font-size: 64px;
   line-height: 1.2;
   color: #FFFFFF;
   margin-bottom: 27px;
}

.article-text {
   padding-left: 150px;
   max-width: 782px;
   position: relative;
}

.article-text::before {
   position: absolute;
   left: 0;
   top: 0;
   transform: translateY(-50%);
   display: block;
   content: attr(data-number);
   font-style: normal;
   font-weight: 700;
   font-size: 240px;
   line-height: 240px;
   color:rgba(255, 249, 249, 0.1);
}

.article-text p {
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.78;
   color: #FFFFFF;
   margin-bottom: 27px;
}

.article__link {
   display: inline-block;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.333;
   color: #FBD784;
   position: relative;
   padding-right: 40px;
   text-decoration: none;
}

.article__link::after {
   content: "";
   width: 24px;
   height: 16px;
   display: block;
   position: absolute;
   top: 20%;
   right: 0;
   background-image: url('./../images/main/arrow_downward_24px.svg');
}

.article__link::before {
   content: "";
   width: 0;
   position: absolute;
   left: 0;
   right: 0;
   bottom: -1px;
   height: 2px;
   background-color: #FBD784;
   transition: all .6s ease-in-out;
}

.article__link:hover::before{
   width: 68%;
}

.article-images img {
   width: 566px;
   height: 720px;
   display: block;
   border-radius: 5%;
}
/*---------------------------------------------*/
.footer {
   margin-bottom: 120px;
}

.footer-row {
   display: flex;
   justify-content: space-between;
}

.footer__copyright {
   display: flex;
   flex-direction: column;
}

.footer__copyright__logo {
   margin-bottom: 24px;
}

.footer__copyright__text {
   width: 303px;
   font-weight: 600;
   font-size: 18px;
   line-height: 32px;
}

.foter__copyright__copy {
   margin-top: auto;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 1.778;
   color: rgba(240, 232, 232, 0.5)
}

.footer__nav + .footer__nav  {
   margin-left: 212px;
}

.footer__nav__wrapper {
   display: flex;
}

.footer__nav {
   max-width: 200px;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 1.78;
}

.footer__nav__title {
   margin-bottom: 24px;
   font-style: normal;
   font-weight: 600;
   font-size: 24px;
   line-height: 1.333;
   color: #FBD784;
}

.footer__nav ul {
   padding: 0;
   margin: 0;
   list-style: none;
}

.footer__nav li {
   padding: 0;
   margin: 0;
   margin-bottom: 11px;
}

.footer__nav li:last-child {
   margin-bottom: 0;
}

.footer__nav a{
   text-decoration: none;
   position: relative;
   padding-bottom: 5px;
}

.footer__nav a:hover {
   color: #FBD784;
}

.footer__nav a::after {
   position: absolute;
   left: 0;
   right: 0;
   bottom: -1px;
   content: '';
   display: block;
   width: 0;
   height: 2px;
   background-color:#FBD784;
   opacity: 0;
   transition: all .7s ease-in-out;
}

.footer__nav a:hover::after {
   opacity: 1;
   width: 100%;
}

